# Ignore everything
*

# Allow directories and files
!*/

# Allow specific file types
!*.cpp
!*.cs
!*.py
!*.php
!*.h
!*.hpp
!*.json
!*.gitignore
!*.xlsx
!*.png

# Ignore specific build-related or intermediate files
*.exe
*.o
*.out
*.s
*.so
*.a

# Ignore specific folders
Practice/
