# Ignore everything
*

# Allow directories and files
!*/

# Allow specific file types
!*.cpp
!*.cs
!*.py
!*.php
!*.h
!*.hpp
!*.json
!*.xlsx
!*.png

# Ignore specific build-related or intermediate files
*.exe
*.o
*.out
*.s
*.so
*.a
*crow_all.h
json.hpp

# Ignore specific folders
Practice/
build/
Live Assignment/
Final_Project/
CMakeFiles/
